<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ページヘッダー</title>
</head>
<body>
<header layout:fragment="header">
    <h1>ヘッダー</h1>
<div class="container-fluid fixed-top">
<div class="row" style="background-color: #fff;">
  <div class="col-12">
    <div class="float-left">
      <h1 class="title-logo">私書箱システム</h1>
      <div class="description">Secure Private Box</div>
    </div>
    <div class="float-right help-button clicable" style="position:relative; top:0.7rem;right:0.5rem;font-size:2rem;color:#aaa;">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </div>
    <div class="float-right" style="position:relative; top:0.85rem;right:1.5rem;">
      <button type="button" class="btn btn-outline-secondary">ログアウト</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12" id="page-line"></div>
</div>
</div>

</header>
</body>
</html>